<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{680,674}</string>
			<key>spriteSourceSize</key>
			<string>{680,674}</string>
			<key>textureRect</key>
			<string>{{0,0},{680,674}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>2.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{678,823}</string>
			<key>spriteSourceSize</key>
			<string>{678,823}</string>
			<key>textureRect</key>
			<string>{{0,674},{678,823}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>3.jpg</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{390,390}</string>
			<key>spriteSourceSize</key>
			<string>{390,390}</string>
			<key>textureRect</key>
			<string>{{0,1497},{390,390}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>demo.png</string>
		<key>size</key>
		<string>{680,1887}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7b42b6d87f10b7fa5368562961f0aa31:05739ac2879d43db13ca063794d41db1:fa81eb3fbbf2734a8482009a99df8491$</string>
		<key>textureFileName</key>
		<string>demo.png</string>
	</dict>
</dict>
</plist>